html {  
  /*Enable anti-aliasing for typography in current browsers*/
  -webkit-font-smoothing: antialiased;
}

a:hover {
  cursor: pointer;
}

/*general rules for typography*/
.centerText {
  text-align: center;
}

.rightAlignText {
  text-align: right;
}

/*other general rules*/
.center {
  margin-left: auto;
  margin-right: auto;
}

.displayInlineBlock {
  display: inline-block;
}

.hidden {
  display: none;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

/*button styles*/
.roundedRectangle {
  padding: 5px;
  background-color: #ABC997;
  color: white;
  font-weight: 600;

  /*rounded border*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  -khtml-border-radius: 5px;

  /*transition effects*/
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.roundedRectangle:hover {
  background-color: #574321;
}

/*"card" styles*/
.card {
  -moz-box-shadow:    3px 3px 5px 3px #ccc;
  -webkit-box-shadow: 3px 3px 5px 3px #ccc;
  box-shadow:         3px 3px 5px 3px #ccc;
}

navbar {
  position: absolute;
  width: 100%;
  background-color: white;

  -moz-box-shadow:    3px 3px 5px 1px #ccc;
  -webkit-box-shadow: 3px 3px 5px 1px #ccc;
  box-shadow:         3px 3px 5px 1px #ccc;
}

navbar > div > #logoMasthead > h1 {
  font-size: 1rem;
}

#navbarInterface > li {
  font-size: 0.9rem;
  display: inline-block;
}
