html {  
  /*Enable anti-aliasing for typography in current browsers*/
  -webkit-font-smoothing: antialiased;
}

html, head, body, section, div, header, footer, 
h1, h2, h3, h4, h5, h6, p, li, ul, a, span, img, div, section {
  font-family: "bodoni-urw", serif;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

p, li, ul, a { 
  font-weight: 400;
}

a:hover, .roundedRectangle:hover {
  cursor: pointer;
}

/*general rules for typography*/
.centerText {
  text-align: center;
}

.rightAlignText {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.chinese {
  font-family: "source-han-sans-simplified-c", sans-serif;
}

.chineseSmall {
  font-size: 80%;
  font-weight: 300;
}

.chineseBig {
  font-size: 200%;
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.colorRed {
  color: #CE181E;
}

/*other general rules*/
.center {
  margin-left: auto;
  margin-right: auto;
}

.displayInlineBlock {
  display: inline-block;
}

.hidden {
  display: none;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.circle {
  height: 50px;

  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px; 
  -khtml-border-radius: 50px;
  border: 3px solid #CE181E;
}

/*button styles*/
.roundedRectangle {
  padding: 5px;

  /*rounded border*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  -khtml-border-radius: 5px;
  border: 1px solid lightGray;

  /*transition effects*/
  -webkit-transition: border 0.3s ease;
  -moz-transition: border 0.3s ease;
  -o-transition: border 0.3s ease;
  transition: border 0.3s ease;
}

.roundedRectangle:hover {
  border: 1px solid #CE181E;
}

.yourAnswer {
  padding: 5px;

  /*rounded border*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  -khtml-border-radius: 5px;

  border: 1px solid #CE181E;
}

/*"card" styles*/
.card {
  -moz-box-shadow:    3px 3px 5px 3px #ccc;
  -webkit-box-shadow: 3px 3px 5px 3px #ccc;
  box-shadow:         3px 3px 5px 3px #ccc;
}

navbar {
  position: fixed;
  width: 100%;
  background-color: white;

  -moz-box-shadow:    3px 3px 5px 1px #ccc;
  -webkit-box-shadow: 3px 3px 5px 1px #ccc;
  box-shadow:         3px 3px 5px 1px #ccc;
}

navbar > div > #logoMasthead > h1 {
  font-size: 1rem;
  line-height: .9rem;
}

#navbarInterface > li {
  font-size: 0.9rem;
  display: inline-block;
}

.emptySpace115 {
  height: 115px;
}

.emptySpace50 {
  height: 50px
}

/*masthead/header styles*/
.masthead {
  line-height: 1.4rem;
}

#mastheadThe {
  font-size: 1.25rem;
}

#logoMasthead > h1 > #mastheadThe {
  font-size: 0.6rem;
}

#mastheadExamination {
  color: #CE181E;
}

#deck {
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 2px;
}

.question {
  font-size: 1.2rem;
  padding-top: 9px;
  color: #CE181E;
}